<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.edu.scnu.web.controller" />
    <!--    注解配置-->
    <mvc:annotation-driven />
    <!--    静态资源文件-->
    <mvc:default-servlet-handler />


    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/user/login" />
        <property name="unauthorizedUrl" value="/403.html" />
        <property name="filterChainDefinitions">
            <value>
                /user/login = anon
                /user/add = perms["user:add"]
                /user/delete = perms["user:add", "user:delete"]
                /sys/admin = roles["admin", "public"]
                /sys/public = roleOr["admin", "public"]
                /** = authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="roleOr" value-ref="roleOrFilter"></entry>
            </util:map>
        </property>
    </bean>

    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="customRealm" />
    </bean>


    <bean class="com.edu.scnu.web.shiro.CustomRealm" id="customRealm">
        <property name="credentialsMatcher" ref="matcher" />
    </bean>

    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="matcher">
        <property name="hashAlgorithmName" value="md5" />
        <property name="hashIterations" value="1" />
    </bean>

    <bean class="com.edu.scnu.web.shiro.RoleOrFilter" id="roleOrFilter"></bean>

    <!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>
